
/*Styling sheets*/
/*Developer-Sambhav Tanay Saxena*/
.flex-display-centre
{
    display: flex;
    justify-content: center;
}

.flex-display-right
{
    display: flex;
    justify-content: end;
}

.display-flex
{
    display: flex;
}
.flex-display-left
{
    display: flex;
    justify-content: flex-start;
}